/* Custom CSS for PBWoW Clean

You can customize whatever you want.
Some defaults are included, like on PBWoW.com

Get all the FontAwesome CSS codes here: https://fortawesome.github.io/Font-Awesome/icons/

*/

.imageset.site_logo {
	background: url("./images/bnet-default.png") no-repeat 50% 0;
	width: 402px;
	height: 92px;
}

/* Top-bar links
 * (example of how to apply custom icons to elements in the top-bar)
--------------------------------------------- */

#top-bar .icon1:before			{ content: '\f1b3'; }
#top-bar .icon2 > a:before		{ content: '\f004'; }
#top-bar .icon3 > a:before		{ content: '\f0ac'; }
#top-bar .icon4 > a:before		{ content: '\f0a4'; }


/* Special post styles
--------------------------------------------- */

.blizz .post,
.blizz #viewprofile .panel:first-of-type { background: #ecebea url("./images/blizz_bg.gif") no-repeat 0 0; }
.blizz .content { color: #086d97; }
.blizz .content strong { color: #41aef0; }

.mvp .post,
.mvp #viewprofile .panel:first-of-type { background: #dbdfda; }
.mvp .content { color: #038515; }
.mvp .content strong { color: #63913e; }


/* Post profiles
--------------------------------------------- */

.blizz .postprofile .avatar { 
	background: url("./images/avatar-tr-blizz.png") 100% 0 no-repeat, url("./images/avatar-bl-blizz.png") 0 100% no-repeat;
}
.blizz .postprofile .avatar img {
	border-color: #77c1ff;
	box-shadow: 0 0 8px rgba(1,93,255,0.5);
}

.mvp .postprofile .avatar { 
	background: url("./images/avatar-tr-mvp.png") 100% 0 no-repeat, url("./images/avatar-bl-mvp.png") 0 100% no-repeat;
}
.mvp .postprofile .avatar img {
	border-color: #79ad50;
	box-shadow: 0 0 8px rgba(186,255,0,0.2);
}

.propass .postprofile .avatar {
	background: url("./images/avatar-tr-propass.png") 100% 0 no-repeat, url("./images/avatar-bl-propass.png") 0 100% no-repeat;
}
.propass .postprofile .avatar img {
	border-color: #f3a900;
	box-shadow: 0 0 8px rgba(243,169,0,0.2);
}


/* Hide repetitive post titles
--------------------------------------------- */

body.section-viewtopic .postbody h3,
#qr_postform .fields1 > dl {
	display: none;
}

body.section-viewtopic .postbody p.author {
	clear: none;
	margin: 0;
	padding: 8px 0 12px;
}
