/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */
body {
    background: #000;
    color: #4A4A4A;
}

#wrap {
    background: #D3D1CE;
}
