/* Header & main body
--------------------------------------------- */
html {
    font-size: 62.5%;
    background-color: transparent;
    height: auto;
}

body {
    color: #CCCCCC;
    font-size: 10px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#wrap {
    border: none;
    border-radius: 0;
    margin: 0 auto;
    padding: 0;
    max-width: 990px;
    max-width: inherit;
}

#page-header {
    background: url("./images/bg.jpg") no-repeat scroll 50% -50px #040404;
    position: relative;
}

#page-body {
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 20px 30px 38px;
    position: relative;
}

#page-body {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0 0 20px 0;
}

#page-body:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -53px;
    padding-top: 53px;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.65);
    z-index: -1;
}

#page-body:after {
    clear: both;
    content: "";
    display: block;
}

#page-body:before,
#page-body:after {
    content: none;
    display: none;
}

.headerbar,
#page-body,
#nav-main,
#body-header ul.navlinks,
#page-footer .navbar {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
}

.headerbar {
    background: none;
    border: none;
    border-radius: 0;
    margin: 0;
    min-height: inherit;
    padding: 0 10px;
    position: relative;
}

#logo {
    background: url("./images/logo.png") no-repeat 50% 0;
    display: block;
    width: 308px;
    height: 92px;
    margin: 10px 0;
    padding: 0;
    line-height: 0;
    background-size: 100% 100%;
}

#site-description {
    overflow: hidden;
}

#site-description h1,
#site-description p {
    display: none;
}

#site-description p.skiplink {
    display: inherit;
}

/* Common
--------------------------------------------- */
.panel {
    background: #ECEBEA;
    border-color: #CAC9C8;
    border-width: 0 0 1px 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 2px rgba(227, 227, 227, 0.6);
}

.forumbg {
    margin: 5px 1px;
    border-radius: 3px;
    margin: 5px 0 15px;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    outline: none;
}

.forumbg > .inner {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    outline: none;
}

ul.cplist,
table.table1,
.panel-container table.table1 {
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    outline: none;
}

.forumbg-table {
    background: #ECEBEA;
    padding: 10px;
}

.bg1, .bg2, .bg3 {
    background: #ECEBEA;
}
