

/* Post styling
--------------------------------------------- */
.postbody {
    width: 78%;
}

.post,
.post > .inner,
.post.bg1 > .inner,
.post.bg2 > .inner {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.post,
.post.reported,
.post.warned,
.post.deleted {
    background: #D8D8D8;
    padding: 5px;
    border-bottom: 1px solid #CAC9C8;
}

.post .postbody .content,
#cp-main .post .content,
#cp-main .pm .content {
    background-image: none;
    border-color: rgba(200, 200, 200, 0.6);
}

.topic_poll:before,
.action-bar.top + .post-container:before {
    background: #D8D8D8 none repeat scroll 0 0;
    content: '';
    display: block;
    height: 16px;
}

.has-profile .postbody {
    background: none;
}

/* Post profiles
--------------------------------------------- */
.postprofile {
    background: none !important;
    padding: 0;
    min-height: inherit;
    width: 22%;
}

.no-avatar .avatar-container {
    background: url("./images/no_avatar.gif") 50% 10px no-repeat;
}

.postprofile .avatar {
    background: none;
    background: url("./images/avatar-tr.png") 100% 0 no-repeat, url("./images/avatar-bl.png") 0 100% no-repeat;
    margin-top: 0px;
    padding: 5px;
    width: auto;
    height: auto;
    overflow: visible;
}

.postprofile .avatar:after {
    display: none !important;
}

.postprofile .avatar img {
    border: 1px solid rgba(0,152,245,0.7);
    border-radius: 4px;
    height: auto;
    width: auto;
    max-width: 200px;
}

.postprofile .icons-frame {
    display: none;
}

.postprofile .rank-icon {
    background: none;
    color: #FFF;
    bottom: 0;
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
    text-shadow: 0 0 2px #000;
}

/* Polls
--------------------------------------------- */
.topic_poll .panel {
    background: #D8D8D8;
    border-color: #CAC9C8;
    border-width: 0 0 1px 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.topic_poll .content {
    background: none;
    border: 0;
}

.topic_poll .polls {
    background: rgba(19,19,19,0.14);
    background: -moz-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,0.14)), color-stop(100%, rgba(214,210,214,0.14)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#d6d2d6', GradientType=0 );
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 10px 10px 25px 10px;
}

.topic_poll h2 {
    color: #074E79;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.topic_poll h2 span {
    color: #074E79;
    font: bold 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 7px 5px 7px 25px;
}

.topic_poll h2 span.poll-icon-timer {
    background: url("./images/icons/poll-open.png") no-repeat 0 50%;
    padding-left: 40px;
}

.topic_poll h2 span.poll-icon-open {
    background: url("./images/icons/poll-open.png") no-repeat 0 50%;
    padding-left: 40px;
}

.topic_poll h2 span.poll-icon-closed {
    background: url("./images/icons/poll-open.png") no-repeat 0 50%;
    padding-left: 40px;
}


.topic_poll p.author {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.topic_poll p.author strong {
    color: #000;
}

fieldset.polls dl {
    color: inherit;
}

fieldset.polls dd {
    text-shadow: none;
}

fieldset.polls dd.resultbar div {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #0081b4;
    color: #FFF;
}

fieldset.polls dd.resultbar div:before {
    background-image: none;
}

fieldset.polls dl.most-votes dd.resultbar div {
    background: #009ee2;
    box-shadow: 0 0 5px rgba(88, 186, 255, 0.7);
}

fieldset.polls dl.voted {
    color: #000;
    font-weight: bold;
}

.topic_poll .poll-footer {
    background: none;
    margin: 15px 0 0;
    padding: 0;
    overflow: inherit;
    height: auto;
}

.topic_poll .poll-footer .button1 {
    height: auto;
    line-height: 1.7em;
    padding: 2px 6px;
    width: auto !important;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.vote-submitted {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    display: none;
}
