/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			PBTech
	Based on style:		PBWoW 3
	Original author:	PayBas ( http://pbwow.com/ )
	--------------------------------------------------------------
*/

@import url("common.css");
@import url("links.css");
@import url("colours.css");
@import url("content.css");
@import url("forms.css");
@import url("buttons.css");
@import url("imageset.css");
@import url("cp.css");
@import url("fontawesome.css");

/* PBWoW Master style specific assets (overall_header {T_THEME_NAME}
   (excluded for children)
--------------------------------------------- */
body.pbwow3 {
	background-attachment: scroll !important;
}

body.pbwow3 #logo {
	background-image: none;
	width: 266px;
	height: 126px;
	margin: 15px 10px 10px -10px;
}

body.pbwow3 #video-background {
	display: none;
}

@media only screen and (max-width: 999px), only screen and (max-device-width: 999px) {
	body.pbwow3 {
		background-position: 0 0;
	}

	body.pbwow3.topbar {
		background-position: 0 41px;
	}
}

@media screen and (max-width: 859px) {
	body.pbwow3 #logo {
		width: 200px;
		height: 100px;
		margin: 0 0 25px 0;
	}
}

/* Top-bar (custom)
--------------------------------------------- */
#top-bar {
	background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
	border-image: none;
	border: 0 solid rgba(255, 255, 255, 0.07);
	border-bottom-width: 1px;
	height: 44px;
	line-height: 20px;
	transform: translate3d(0px, 0px, 0px);
	width: 100%;
	font-family: "Trebuchet MS",Arial,sans-serif;
	color: #DCDCDC;
	font-size: 17px;
	box-shadow: 0 0 3px 3px #000000;
	text-shadow: 1px 1px #000000;
	position: relative;
	z-index: 9999;
}

#top-bar > .inner {
	border-right: 3px solid #042E45;
	border-left: 1px solid #011323;
	height: 40px;
	margin: 0 auto;
	max-width: 990px;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 40px;
}

#top-bar .linklist > li {
	border-left: 1px solid #33373b;
	border-right-color: #1A1A1A;
	padding: 0 15px;
	font-size: 15px;
	margin: 5px;
	list-style-type: none;
	color: rgba(255, 255, 255, 0.7);
}

#top-bar .linklist > li.hover {
	background: #666;
}

#top-bar .linklist > li.link {
	padding: 0;
	transition: text-shadow 160ms ease 0s, color 160ms ease 0s;
}

#top-bar .linklist > li.link > a {
	color: rgba(255, 255, 255, 0.7);
	padding: 0 15px !important;
	display: block;
	cursor: pointer;
	font-weight: bold;
}

#top-bar .linklist > li.link > a:hover {
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
	text-decoration: none;
	color: #fff;
}


#top-bar li.responsive-menu {
	border: none !important;
	line-height: 20px;
	margin: 5px;
	padding: 3px;
}

/* Miscellaneous styles
--------------------------------------------- */
#video-background {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#video-background {
	display: none;
}

#video-container {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 0;
	z-index: -1000;
}

#video-container video {
	opacity: 0;
}

#video-border {
	position: absolute;
	width: 100%;
	z-index: -999;
}

body.fixedbg {
	background-attachment: fixed;
}

body.fixedbg #video-background {
	position: fixed;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	z-index: -1; /* Conflicts with page-body box-shadow, when enabled f*cks up chrome fixed pos */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	body.fixedbg #video-background { z-index: auto; }
}

body.topbar #video-background {
	top: 41px;
}

#darken {
	background-color: #000;
	opacity: 0.75;
}

#darken {
	background-color: #333;
	opacity: 0.5;
}

.advertisement, .misc-block.advertisement {
	margin: 10px auto;
	padding: 0;
	overflow: hidden;
}

/* Tweaks
--------------------------------------------- */
.notouch.section-viewtopic .post-buttons {
	opacity: 0;
	transition: opacity .4s;
}

.notouch.section-viewtopic .post:hover .post-buttons {
	opacity: 1;
}

ul.linklist > li,
#quick-links {
	margin-right: 10px;
}

ul.linklist > li.rightside {
	margin-left: 10px;
}

ul.linklist > li a:hover {
	text-decoration: none;
}

.action-bar.compact {
	display: none;
}

input#pf_pbbnetavatar, label[for=pf_pbbnetavatar] {
	display: none;
}

.topic_poll + hr {
	display: none;
}

dl.global_read,
dl.global_read_mine,
dl.global_read_locked,
dl.global_read_locked_mine,
dl.announce_read,
dl.announce_read_mine,
dl.announce_read_locked,
dl.announce_read_locked_mine,
dl.sticky_read,
dl.sticky_read_mine,
dl.sticky_read_locked,
dl.sticky_read_locked_mine,
dl.topic_moved,
dl.topic_read,
dl.topic_read_mine,
dl.topic_read_hot,
dl.topic_read_hot_mine,
dl.topic_read_locked,
dl.topic_read_locked_mine,
dl.pm_read {
	opacity: 0.75;
}

/* =Media queries (all >700px rules are in responsive.css)
-------------------------------------------------------------- */

@media screen and (max-width: 999px) {
	.forum-blocks li.row,
	.index-left .forum-blocks li.row {
		width: 100%;
		min-height: 60px;
	}

	.forum-blocks li.row dl {
		min-height: inherit;
	}

	.postprofile {
		background-position: 50% 0;
	}
}

/* =Media queries (all >700px rules are in responsive.css)
-------------------------------------------------------------- */

@media screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.headerbar {
		min-height: inherit !important;
	}

	#page-body {
		background: none !important;
	}

	#body-header ul.linklist {
		padding: 7px 10px !important;
	}

	.postprofile .avatar {
		background: none !important;
	}
}

@media screen and (max-width: 859px), only screen and (max-device-width: 859px) {
	#logo {
		width: 246px;
		height: 74px;
	}
}

