/*  phpBB3 Style Sheet
	--------------------------------------------------------------
	Style name:			PBTech
	Based on style:		PBWoW 3
	Original author:	PayBas ( http://pbwow.com/ )
	--------------------------------------------------------------
*/

@import url("common.css");
@import url("links.css");
@import url("colours.css");
@import url("content.css");

@import url("cp.css");
@import url("fontawesome.css");


/* Content container styles
--------------------------------------------- */
.postprofile,
.postbody,
.content,
blockquote { color: #4A4A4A; text-shadow: none; }

.postprofile strong { color: #0072a3; }

.post:target {
	border: 1px solid #d8d8d8;
}

.post:target .content {
	color: #000;
}

/* Content */

blockquote {
	background: rgba(67, 67, 67, 0.12);
	border: none;
	border-radius: 5px;
	box-shadow: none;
}

/* Code block */
.codebox, code.inline {
	background: linear-gradient(to bottom, #cacac7 0%, #C8C8C8 60%);
	border-color: transparent;
	box-shadow: none;
	color: #35B92F;
}

.codebox code {
	color: #35B92F;
	text-align: left;
	max-height: 400px;
}

.codebox p {
	border-color: #999;
	border-bottom-color: #afafaf;
}

dl.codebox {
	background-color: rgba(28, 40, 100, 0.2);
}

.codebox {
	background-color: rgba(10, 10, 10, 0.3);
	text-shadow: none;
}

.syntaxbg { color: #000C18; }
.syntaxcomment { color: #5a545c; }
.syntaxdefault { color: #435f9f; }
.syntaxkeyword { color: #171e2d; }
.syntaxstring { color: #930c06; }
.syntaxhtml { color: #AAA; }

code.inline {
	background-color: rgba(10, 10, 10, 0.3);
	border: 1px solid rgba(88, 88, 88, 0.7);
	border-radius: 2px;
	color: #209347;
	display: inline;
	font-family: Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
	font-size: 0.8em;
	font-style: normal;
	line-height: 1.3em;
	padding: 0 3px;
}

/* attachbox */

.attachbox {
	background: rgba(67, 67, 67, 0.12);
}

dl.file dd {
	color: #858084;
}

.notice, .signature {
	border-top-color: rgba(200, 200, 200, 0.6);
}

.signature {
	opacity: 0.7;
}

dl.details dt {
	color: #7a7a7a;
}

dl.details dd {
	color: inherit;
}

fieldset dl:hover dt label,
fieldset.fields2 dl:hover dt label {
	color: #0295EE;
}

dl.thumbnail img,
.content a > img.postimage {
	background-color: rgba(0, 0, 0, 0.4);
	border: 3px solid #888 !important;
	border-radius: 0 !important;
	box-shadow: none;
	padding: 0;
	transition: border 0.25s ease-out 0s;
}

dl.thumbnail dt a:hover,
.content a > img.postimage:hover {
	background: none;
}

dl.thumbnail dt a:hover img,
.content a > img.postimage:hover {
	border: 3px solid #00b6ff !important;
}

/* Buttons
--------------------------------------------- */
.button {
	background: #0081b4;
	background: linear-gradient(rgba(0, 129, 180, 1), rgba(0, 106, 155, 1));
	border: none;
	border-radius: 3px;
	color: #FFF;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
	transition: none;
	line-height: 30px;
}

.button:hover,
.button:active,
.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {
	background: #009EE2;
	border-color: #112E62;
	color: #FFF;
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-select:after,
.dropdown-select:hover:after,
.dropdown-visible .dropdown-select:after,
.nojs .dropdown-container:hover .dropdown-select:after {
	border-color: rgba(0, 0, 0, 0.15);
}

.post-buttons .icon-button {
	color: #4d606d;
}

.post-buttons .icon-button:before {
	text-shadow: none;
}

.post-buttons .icon-button:hover:before {
	color: #565656;
}

/* Forms
--------------------------------------------- */
select {
	background-color: #FFF;
	background-image: url("./images/icons/select.png");
	border-color: #b5b3b2;
	color: #5a5a5a;
}

fieldset dt {
	color: #3D6F95;
}

dl.faq dt {
	color: #172040;
}

label, dd label {
	color: inherit;
}

#message-box textarea { color: #5a5a5a; }

#message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

#message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

.inputbox {
	background: #FFF;
	border-color: #cac9c8;
	color: #5a5a5a;
}
.inputbox:hover,
.inputbox:focus {
	border-color: #1c9ec1;
}
.inputbox:focus {
	color: #4a4a4a;
}

.inputbox:-moz-placeholder { color: #707070; opacity: 0.6; }
.inputbox::-moz-placeholder { color: #707070; opacity: 0.6; }
.inputbox::-webkit-input-placeholder { color: #707070; opacity: 0.6; }

/* Form buttons */
a.button1, input.button1,
a.button2, input.button2, input.button3 {
	padding: 3px 4px;
	background: #0081b4;
	background: linear-gradient(rgba(0, 129, 180, 1), rgba(0, 106, 155, 1)) ;
	border: none;
	color: #FFF;
	font-size: 1.1em;
	text-shadow: none;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
	transition: all 0.3s;
}

a.button1, a.button1:active,
a.button2, a.button2:active {
	color: #DDD;
	padding: 2px 8px;
}

a.button1:hover, input.button1:hover,
a.button2:hover, input.button2:hover, input.button3:hover,
input.button1:active, input.button3:active, input.button2:active {
	background: #009ee2;
	background: linear-gradient(rgba(0, 158, 226, 1), rgba(0, 158, 226, 1));
	border: none;
	box-shadow: 0 0 4px rgba(0, 129, 180, 0.25);
	color: #FFF;
}

.button1.disabled {
	background: #6D7176;
	border-color: #6D7176;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
	color: #E1E0E0 !important;
	opacity: 0.6;
	transition: none;
}

/* Posting */
#format-buttons input {
	background: #444;
	background: linear-gradient(#585858, #444444);
	border-color: #a3a1a0;
	box-shadow: none;
	color: #FFF;
}

#format-buttons input:hover {
	background: #606060;
	background: linear-gradient(#838383, #606060);
	border-color: #dcdada;
	box-shadow: none;
}

/* Search box (header)
--------------------------------------------- */
.search-header {
	background: url("./images/search-bar.gif") no-repeat 0 0;
	border: none;
	height: 31px;
	position: absolute;
	right: 10px;
	left: auto;
	bottom: 30px;
	width: 305px;
	z-index: 1;
}

.search-header:before {
	display: none;
}

.search-header .inputbox {
	background: none;
	border: none;
	border-radius: 0;
	font-size: 13px;
	margin: 0;
	padding: 7px 0 7px 20px;
	height: 31px;
	width: 270px;
}

.search-header .inputbox:focus {
	border: none;
	color: #000;
}

.search-header a.button {
	display: none; /* TODO: find elegant solutions */
}

.search-header button.search-icon {
	background: none;
	border: medium none;
	cursor: pointer;
	height: 31px;
	position: absolute;
	right: 0;
	top: 0;
	width: 31px !important;
}

/* CP common
--------------------------------------------- */
#cp-main .pm,
.cp-mini {
	background: #FCFBFA;
	border-color: #cac9c8;
	border-width: 0 0 1px 0;
	box-shadow: none;
}

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: rgba(29,63,98,0.5);
}

.panel-container h3,
.panel-container hr,
#cp-menu hr {
	border-color: rgba(0,156,255,0.3);
}

#gallery label {
	background-color: #ECEBEA;
	border-color: #CAC9C8;
}

#gallery label:hover {
	background-color: #FFF;
	border-color: #0295EE;
}

/* PM Message history */
.current {
	color: #000;
}

/* UCP/MCP Tabs
--------------------------------------------- */
#tabs .tab > a {
	background: #E3E1DE;
	background: linear-gradient(#ecebea, #E3E1DE);
	border-color: #ecebea;
	color: #074e79;
}
#tabs .tab > a:hover {
	background: #ECEBEA;
	background: linear-gradient(#e3e1de, #ECEBEA);
	border-color: #ecebea;
	color: #0295ee;
}
#tabs .activetab > a {
	background: #ECEBEA;
	border-color: #ECEBEA;
	color: #0080B2;
}
#tabs .activetab > a:hover {
	background: #ECEBEA;
	color: #00B6FF;
}

#minitabs .tab > a {
	background: #ECEBEA;
	background: linear-gradient(#FCFBFA, #ECEBEA);
	border-color: #FCFBFA;
}
#minitabs .tab > a:hover {
	background: #FCFBFA;
	background: linear-gradient(#ECEBEA, #FCFBFA);
	border-color: #FCFBFA;
	text-decoration: none;
}
#minitabs .activetab > a {
	background: #FCFBFA;
	border-color: #FCFBFA;
	color: #0080b2;
}
#minitabs .activetab > a:hover {
	background: #FCFBFA;
	color: #0295ee;
}

#navigation a {
	background: #ECEBEA;
	background: linear-gradient(to left, #ECEBEA, #FCFBFA);
	border-color: #FCFBFA;
	color: #5d5d5d;
}

.rtl #navigation a {
	background: linear-gradient(to right, #ECEBEA, #FCFBFA);
}

#navigation a:hover {
	background: #FCFBFA;
	color: #0295ee;
}

#navigation #active-subsection a {
	background: #FCFBFA;
	color: #074e79;
}

#navigation #active-subsection a:hover {
	color: #0295ee;
}

/* Footer
--------------------------------------------- */
#page-footer {
	background: url("./images/bg.jpg") no-repeat scroll 50% 70% #000;
	border-top: 4px solid #777674;
	margin-top: 20px;
	text-shadow: none;
}

#page-footer .navbar {
	padding: 0 10px;
}

.copyright {
	color: inherit;
}

/* Pagination
--------------------------------------------- */
.action-bar {
	margin: 12px 3px;
}

.pagination li a,
.pagination li.page-jump a, .pagination li.next a, .pagination li.previous a {
	background: #333;
	background: linear-gradient(#333, #505050);
	border-color: transparent;
	color: #CECECE;
}
.pagination li a:hover,
.pagination .active a:hover,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #1D1D1D;
	background: linear-gradient(#1D1D1D, #343434);
	border-color: transparent;
	color: #FFF;
	text-decoration: none;
	box-shadow: none;
}
.pagination li.active span {
	background-color: #0080B2;
	border-color: transparent;
	color: #FFFFFF;
}
.pagination li.active span:hover {
	background-color: #009EE2;
	border-color: transparent;
	color: #FFF;
	text-decoration: none;
	box-shadow: none;
}

.row .pagination {
	background-image: url("./images/icons/icon_pages.gif");
}
.row .pagination li a, .row .pagination li span {
	background: none;
	border: none;
	color: #074e79;
	display: inline;
	font-size: 1.1em;
	padding: 0;
}
.row .pagination li a:hover {
	color: #009fff;
}

/* Quick-reply
--------------------------------------------- */
#qr_postform .panel {
	background: none;
	background: linear-gradient(rgba(177,177,177,1), rgba(200,200,200,0));
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 15px;
	max-width: inherit;
}

#qr_postform #message-box {
	background: none;
	padding: 0;
	margin: 5px 0 10px;
}

#qr_postform textarea {
	background: #FFF;
}
#qr_postform textarea:focus {
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
}

#qr_postform fieldset.submit-buttons {
	background: none;
	padding: 0;
}

/* Collapseable blocks
--------------------------------------------- */
.collapse-box h2,
.stat-block h3 {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: #393939;
	border-bottom-color: #b5b3b2;
}
.collapse-box h2:hover,
.stat-block h3:hover {
	border-bottom-color: #a5a3a2;
}

.collapse-box h2 a,
.stat-block h3 a { color: #333232; }

.collapse-box h2 a:hover,
.stat-block h3 a:hover { color: #037bad; text-decoration: none; }

.collapse-box h2 a[href="#"]:before,
.stat-block h3 a[href="#"]:before {
	content: "\f067";
	font-size: 14px;
	float: right;
	opacity: 1;
}
.collapse-box h2.open a[href="#"]:before,
.stat-block h3.open a[href="#"]:before {
	content: "\f068";
}

/* Rules & Errors
--------------------------------------------- */


div.rules,
body.section-viewforum div.rules,
body.section-viewtopic div.rules {
	background: #060b10;
	background-color: rgba(0,0,0,0.09);
	background-size: 100% 2px, 100% 2px;
	background-position: 0 0, 0 100%;


	background: rgba(19,19,19,0.14);
	background: -moz-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,0.14)), color-stop(100%, rgba(214,210,214,0.14)));
	background: -webkit-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
	background: -o-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
	background: -ms-linear-gradient(top, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
	background: linear-gradient(to bottom, rgba(19,19,19,0.14) 0%, rgba(214,210,214,0.14) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#d6d2d6', GradientType=0 );


	background-repeat: no-repeat;

	border: none;
	border-radius: 5px;
	color: inherit;
	margin: 10px 0;
	padding: 10px;
	padding: 1rem;
	box-shadow: none;
}
div.rules > .inner,
body.section-viewforum div.rules > .inner,
body.section-viewtopic div.rules > .inner {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
}

.postbody div.rules {
	padding: 6px 10px;
}

#information {
	text-align: center;
	padding: 10px !important;
}

/* Drop-down menus
--------------------------------------------- */
ul.linklist li.responsive-menu a.responsive-menu-link:before {
	color: #9dbecb;
}

.dropdown .pointer {
	border-color: #999 transparent;
}
.dropdown .pointer-inner {
	border-color: #EEE transparent;
}
.dropdown .dropdown-contents {
	background: #EEE;
	border-color: #999;
	box-shadow: 1px 1px 5px rgba(100,100,100, 0.8);
	text-shadow: none;
}

.dropdown li, .dropdown li li, .dropdown li.separator {
	border-color: #cac9c8;
}
.dropdown-contents strong {
	color: #363535;
	font-weight: bold;
}
.dropdown-contents .small-icon > a:before {
	color: #074e79;
	text-shadow: none;
}

/* Notifications */
.dropdown-extended .pointer {
	border-color: #8ba4b4 transparent;
}
.dropdown-extended .pointer-inner {
	border-color: #4d606d transparent;
}
.dropdown-extended .dropdown-contents {
	background: #4d606d;
	border-color: #4d606d;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #444;
	border-radius: 0;
	background: #4d606d;
}
.dropdown-extended .header a, .dropdown-extended .footer a {
	color: #acbdc8;
}
.dropdown-extended .header a:hover, .dropdown-extended .footer a:hover {
	color: #FFF;
}

.dropdown-extended ul li {
	background: #d8d8d8;
	border-color: #c5c5c5;
}
.dropdown-extended ul li.bg2 {
	background: #e3e7e9;
}
.dropdown-extended ul li:hover {
	background: #e6e6e6;
}

.dropdown-extended a.mark_read {
	background-color: #FFF;
}
.dropdown-extended a.mark_read:before {
	text-shadow: none;
}

/* Subforum menus */
.forums .dropdown-trigger {
	background-image: url("./images/icons/child-arrow-big.png");
}

/* Profile Context Menu
--------------------------------------------- */
.profile-context .dropdown-contents {
	background-color: #4d606d;
	border-color: #8fa7b7;
}

.profile-context .dropdown-contents strong {
	color: #FFF;
}

.profile-context dd {
	color: #acbdc8;
}

.profile-context a {
	color: #9dbecb;
}

.profile-context a:hover {
	color: #FFF;
}

.profile-context .user-icons a {
	background: #6b7f8d;
	color: #c7dceb;
	padding: 0 10px !important;
	font-size: 11px;
}

.profile-context .user-icons a:before {
	color: #c7dceb;
	display: inline-block;
	text-shadow: none;
}

.profile-context .user-icons a:hover {
	background: #92a9ba;
	color: #FFF;
}

.profile-context .user-icons a:hover:before {
	color: #FFF;
}

/* Top-bar (custom)
--------------------------------------------- */
#top-bar {
	height: 44px;
	background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
	border-bottom: 1px solid #010203;
	border-color: rgba(255, 255, 255, 0.07);
	border-image: none;
	border-style: solid;
	border-width: 0 0 1px;
	color: white;
	height: 44px;
	line-height: 20px;
	transform: translate3d(0px, 0px, 0px);
	width: 100%;
	font-family: "Trebuchet MS",Arial,sans-serif;
	color: #DCDCDC;
	font-size: 17px;
	box-shadow: 0 0 3px 3px #000000;
	text-shadow: 1px 1px #000000;
	position: relative;
	z-index: 9999;
}

#top-bar > .inner {
	border-right: 3px solid #042E45;
	border-left: 1px solid #011323;
	height: 40px;
	margin: 0 auto;
	max-width: 990px;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 40px;
}

#top-bar .linklist > li {
	border-left: 1px solid #33373b;
	border-right-color: #1A1A1A;
	margin: 0;
	padding-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 0;
	font-size: 15px;
	margin: 5px;
	list-style-type: none;
	color: rgba(255, 255, 255, 0.7);
}

#top-bar .linklist > li.hover {
	background: #666;
}

#top-bar .linklist > li.link {
	padding: 0;
	transition: text-shadow 160ms ease 0s, color 160ms ease 0s;
}

#top-bar .linklist > li.link > a {
	color: rgba(255, 255, 255, 0.7);
	padding: 0 15px !important;
	display: block;
	cursor: pointer;
	font-weight: bold;
}

#top-bar .linklist > li.link > a:hover {
	text-shadow: 0 0 2px rgba(255, 255, 255, 0.4);
	text-decoration: none;
	color: #fff;
}


#top-bar li.responsive-menu {
	border: none !important;
	line-height: 20px;
	margin: 5px;
	padding: 3px;
}


/* Miscellaneous styles
--------------------------------------------- */
#video-background {
	display: none;
}

#darken {
	background-color: #333;
	opacity: 0.5;
}

.phpbb_alert {
	background-color: #fcfbfa;
	box-shadow: 0 0 10px #666;
}

dl.global_read,
dl.global_read_mine,
dl.global_read_locked,
dl.global_read_locked_mine,
dl.announce_read,
dl.announce_read_mine,
dl.announce_read_locked,
dl.announce_read_locked_mine,
dl.sticky_read,
dl.sticky_read_mine,
dl.sticky_read_locked,
dl.sticky_read_locked_mine,
dl.topic_moved,
dl.topic_read,
dl.topic_read_mine,
dl.topic_read_hot,
dl.topic_read_hot_mine,
dl.topic_read_locked,
dl.topic_read_locked_mine,
dl.pm_read {
	opacity: 0.75;
}

/* Icon images
--------------------------------------------- */
.small-icon > a:before,
#page-footer li.breadcrumbs:before {
	color: #9DBECB;
}
.small-icon > a:hover:before {
	/*text-shadow: 0 0 16px #C920C7;*/
}

.imageset:before {
	color: #8EB1BC;
}

.forums .dropdown-contents a.subforum.read		{ background-image: url("./images/icons/icon_post_read.gif"); }
.forums .dropdown-contents a.subforum.unread	{ background-image: url("./images/icons/icon_post_unread.gif"); }

.imageset.icon_topic_attach			{ background-image: url("./images/icons/icon_topic_attach.gif"); }
.imageset.icon_post_target			{ background-image: url("./images/icons/icon_post_read.gif"); }
.imageset.icon_post_target_unread	{ background-image: url("./images/icons/icon_post_unread.gif"); }
.imageset.icon_topic_latest			{ background-image: url("./images/icons/icon_topic_latest.gif"); }
.imageset.icon_topic_newest			{ background-image: url("./images/icons/icon_topic_newest.gif"); }
.unread .imageset.icon_topic_latest { background-image: url("./images/icons/icon_topic_newest.gif"); }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/icons/announce_read.png"); }
.global_read_mine					{ background-image: url("./images/icons/announce_read_mine.png"); }
.global_read_locked					{ background-image: url("./images/icons/announce_read_locked.png"); }
.global_read_locked_mine			{ background-image: url("./images/icons/announce_read_locked_mine.png"); }
.global_unread						{ background-image: url("./images/icons/announce_unread.png"); }
.global_unread_mine					{ background-image: url("./images/icons/announce_unread_mine.png"); }
.global_unread_locked				{ background-image: url("./images/icons/announce_unread_locked.png"); }
.global_unread_locked_mine			{ background-image: url("./images/icons/announce_unread_locked_mine.png"); }

.announce_read						{ background-image: url("./images/icons/announce_read.png"); }
.announce_read_mine					{ background-image: url("./images/icons/announce_read_mine.png"); }
.announce_read_locked				{ background-image: url("./images/icons/announce_read_locked.png"); }
.announce_read_locked_mine			{ background-image: url("./images/icons/announce_read_locked_mine.png"); }
.announce_unread					{ background-image: url("./images/icons/announce_unread.png"); }
.announce_unread_mine				{ background-image: url("./images/icons/announce_unread_mine.png"); }
.announce_unread_locked				{ background-image: url("./images/icons/announce_unread_locked.png"); }
.announce_unread_locked_mine		{ background-image: url("./images/icons/announce_unread_locked_mine.png"); }

.forum_link							{ background-image: url("./images/icons/forum_link.png"); }
.forum_read							{ background-image: url("./images/icons/forum_read.png"); }
.forum_read_locked					{ background-image: url("./images/icons/forum_read_locked.png"); }
.forum_read_subforum				{ background-image: url("./images/icons/forum_read_subforum.png"); }
.forum_unread						{ background-image: url("./images/icons/forum_unread.png"); }
.forum_unread_locked				{ background-image: url("./images/icons/forum_unread_locked.png"); }
.forum_unread_subforum				{ background-image: url("./images/icons/forum_unread_subforum.png"); }

.sticky_read						{ background-image: url("./images/icons/sticky_read.png"); }
.sticky_read_mine					{ background-image: url("./images/icons/sticky_read_mine.png"); }
.sticky_read_locked					{ background-image: url("./images/icons/sticky_read_locked.png"); }
.sticky_read_locked_mine			{ background-image: url("./images/icons/sticky_read_locked_mine.png"); }
.sticky_unread						{ background-image: url("./images/icons/sticky_unread.png"); }
.sticky_unread_mine					{ background-image: url("./images/icons/sticky_unread_mine.png"); }
.sticky_unread_locked				{ background-image: url("./images/icons/sticky_unread_locked.png"); }
.sticky_unread_locked_mine			{ background-image: url("./images/icons/sticky_unread_locked_mine.png"); }

.topic_moved						{ background-image: url("./images/icons/topic_moved.png"); }
.topic_read							{ background-image: url("./images/icons/topic_read.png"); }
.topic_read_mine					{ background-image: url("./images/icons/topic_read_mine.png"); }
.topic_read_hot						{ background-image: url("./images/icons/topic_read_hot.png"); }
.topic_read_hot_mine				{ background-image: url("./images/icons/topic_read_hot_mine.png"); }
.topic_read_locked					{ background-image: url("./images/icons/topic_read_locked.png"); }
.topic_read_locked_mine				{ background-image: url("./images/icons/topic_read_locked_mine.png"); }
.topic_unread						{ background-image: url("./images/icons/topic_unread.png"); }
.topic_unread_mine					{ background-image: url("./images/icons/topic_unread_mine.png"); }
.topic_unread_hot					{ background-image: url("./images/icons/topic_unread_hot.png"); }
.topic_unread_hot_mine				{ background-image: url("./images/icons/topic_unread_hot_mine.png"); }
.topic_unread_locked				{ background-image: url("./images/icons/topic_unread_locked.png"); }
.topic_unread_locked_mine			{ background-image: url("./images/icons/topic_unread_locked_mine.png"); }

.pm_read							{ background-image: url("./images/icons/topic_read.png"); }
.pm_unread							{ background-image: url("./images/icons/topic_unread.png"); }

.imageset.icon_topic_poll 			{ background: url("./images/icons/polls16.png") 100% 100% no-repeat; padding: 14px 0 0 20px; vertical-align: middle; }

/* Right-to-Left languages
--------------------------------------------- */
.rtl .search-header {
	background: url("./images/search-bar-rtl.gif") no-repeat;
	right: auto;
	left: 10px;
}

.rtl .search-header .inputbox {
	padding: 7px 20px 7px 0 !important;
	float: right !important;
}

.rtl .search-header button.search-icon {
	left: 0;
	right: auto;
}

.rtl .collapse-box h2 a[href="#"]:before,
.rtl .stat-block h3 a[href="#"]:before {
	float: left;
}

/* =Media queries (all >700px rules are in responsive.css)
-------------------------------------------------------------- */

@media screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	.headerbar {
		min-height: inherit !important;
	}

	#page-body {
		background: none !important;
	}

	#body-header ul.linklist {
		padding: 7px 10px !important;
	}

	.postprofile .avatar {
		background: none !important;
	}
}

@media screen and (max-width: 859px), only screen and (max-device-width: 859px) {
	#logo {
		width: 246px;
		height: 74px;
	}
}
